@model Asp.NetProject.Models.Store

@{
    ViewData["Title"] = "UpdateStore";
}
@if (ViewBag.SMessage != null)
{
    <div class="alert alert-success">@ViewBag.SMessage</div>
}@if (ViewBag.EMessage != null)
{
    <div class="alert alert-success">@ViewBag.EMessage</div>
}

<h1 class="text text-center">Update Store</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateStore" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoreId" />
            <div class="form-group">
                <label asp-for="StoreName" class="control-label"></label>
                <input asp-for="StoreName" class="form-control" />
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHours" class="control-label"></label>
                <input asp-for="OpeningHours" class="form-control" />
                <span asp-validation-for="OpeningHours" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoFile" class="control-label">Change Picture</label>
                <input type="file" asp-for="LogoFile" class="form-control" />
                <span asp-validation-for="LogoFile" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.Logo)) // Check if Logo exists
                {
                    <img src="~/images/@Model.Logo" style="width: 110px; height:100px" />
                }
                <input type="hidden" name="originalImage" value="@Model.Logo" />

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
