@model Asp.NetProject.Models.Product

@{
    ViewData["Title"] = "Update";
    IList<ProductCategory> Listcategories = ViewBag.ListCategories;
    SelectList AllCategories = new SelectList(Listcategories, "CategoryId", "CategoryName");
}

<h1>Update</h1>
@if (ViewBag.SMessage != null)
{
    <div class="alert alert-success ">@ViewBag.SMessage</div>
}

@if (ViewBag.EMessage != null)
{
    <div class="alert alert-warning">@ViewBag.EMessage</div>
}
<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formula" class="control-label"></label>
                <input asp-for="Formula" class="form-control" />
                <span asp-validation-for="Formula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MfgDate" class="control-label"></label>
                <input asp-for="MfgDate" class="form-control" />
                <span asp-validation-for="MfgDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpDate" class="control-label"></label>
                <input asp-for="ExpDate" class="form-control" />
                <span asp-validation-for="ExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sku" class="control-label"></label>
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Change Picture</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.ImagePath)) // Check if Logo exists
                {
                    <img src="~/images/@Model.ImagePath" style="width: 110px; height:100px" />
                }
                <input type="hidden" name="originalImage" value="@Model.ImagePath" />
            </div>

            <div class="form-group">
                @Html.DropDownListFor(model => model.CategoryId, AllCategories, "Choose a category", new { @class = "form-control inout-sm" })
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
