@model Asp.NetProject.Models.ProductCategory

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

@if (ViewBag.SMessage != null)
{
    <div id="successMessage" class="alert alert-success">@ViewBag.SMessage </div>
}
@if (ViewBag.EMessage != null)
{
    <div id="errorMessage" class="alert alert-danger">@ViewBag.EMessage </div>
}
<h4>ProductCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" required />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatCode" class="control-label"></label>
                <input asp-for="CatCode" class="form-control" required />
                <span asp-validation-for="CatCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatSerial" class="control-label"></label>
                <input asp-for="CatSerial" class="form-control" required />
                <span asp-validation-for="CatSerial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="ProductCategory" class="btn btn-outline-success">Back</a>
</div>

@section Scripts {



        <script>
        // Function to hide success message after 5 seconds
        window.setTimeout(function () {
            $("#successMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);

        // Function to hide error message after 5 seconds
        window.setTimeout(function () {
            $("#errorMessage").fadeTo(100, 0).slideUp(100, function () {
                $(this).remove();
            });
        }, 1000);
        </script>
    


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
